body {
    margin-bottom: 5%;
}

.container {
    padding: 2px 16px;
}

#currentCity {
    padding: 3%;
}


#card-view {
    margin: auto;
    padding: 10px;

}

.jumbotron {
    align-items: center;
    align-content: center;
    text-align: center;
    background-color:  rgb(165, 159, 156);
    color: black;
    min-height: 30rem;
}

.jumbo-view {
    margin: auto;
}

#uvElem {
    border-radius: 50%;
    border-width: 15rem;
    align-items: center;
    align-content: center;
    text-align: center;

}

.card-body {
    align-items: center;
    align-content: center;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    
}

.greenIndex {
    background-color: green;
}

.yellowIndex{
    background-color: yellow;
}

.orangeIndex {
    background-color: orange;
}

.redIndex {
    background-color: orangered;
}